{% extends "SlackissBitBundle:layout:layout.html.twig" %}

{% block title %}查看标签类型{% endblock %}

{% block body -%}
    <h1>查看标签类型</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>名字</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>描述</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>状态</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>可用性</th>
                <td>{{ entity.enabled?'可用':'禁用' }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ entity.created|date('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>修改时间</th>
                <td>{{ entity.modified|date('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>评论</th>
                <td>{{ entity.remark }}</td>
            </tr>
            <tr>
                <th>序号</th>
                <td>{{ entity.sequence }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('manager_labelType') }}">
            返回列表
        </a>
    </li>
    <li>
        <a href="{{ path('manager_labelType_edit', { 'id': entity.id }) }}">
            修改
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
